<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.wenhe9.ggkt.vod.mapper.SubjectMapper">

    <insert id="insertBatch">
        insert into `subject`
            (`id`, `title`, `parent_id`, `sort`)
        values 
        <foreach collection="subjectList" item="subject" separator=",">
            (#{subject.id}, #{subject.title}, #{subject.parentId}, #{subject.sort})
        </foreach>
    </insert>
</mapper>
